*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%; position: relative;}
.col-3:hover{
    border:1px solid blue;
    cursor: pointer;
}
.col-4 {width: 33.33%; position: relative;}
.col-4:hover{
    border:1px solid blue;
    cursor: pointer;
}
.col-5 {width: 41.66%;}
.col-6 {width: 50%; position: relative;}
.col-6:hover{
    border:1px solid blue;
    cursor: pointer;
}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-8:hover{
    border:1px solid blue;
    cursor: pointer;
}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%; position: relative;}
.col-12:hover{
    border:1px solid blue;
    cursor: pointer;
}

.active{
    border:2px solid blue!important;
}
.active:before{
    content: 'x';
    width: 50px;
    height: 15px;
    background: blue;
    position: absolute;
    top: -16px;
    right: -1px;
    line-height: 15px;
    color: aliceblue;
}

[class*="col-"]{
	float:left;
	padding: 15px;
	border: 1px dashed rgba(170,170,170,0.7);
    height: 75px;
}

.row{
	display: table;
	overflow: auto;
    width: 100%;
    padding: 10px;
    border: 1px dashed rgba(170,170,170,0.7);
}
#wrapper{
	overflow: auto;
	overflow-x: hidden;
    border: 1px solid red;
    width: 100%;
    height: 100%
}

.sidebar {
    width: 95px;
    height: 50%;
    position: fixed;
    top: 50%;
    right: 0;
    background: #444;
    float: right;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    transform: translate3d(0, -50%, 0);
}

.block {
    width: 70px;
    height: 70px;
    background: #555a98;
    margin: 5px;
    padding: 5px;
    line-height: 65px;
    border-radius: 10px;
    cursor: pointer;
}

.row-tool {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
*{}